*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
secret.properties
.kotlin/errors
# Prevent all google-services.json files from being committed
**/google-services.json
# Firebase config files
app/src/student/google-services.json
app/src/lecturer/google-services.json

